.App {
    text-align: center;
    align-items: center;
}

.form {
    margin-top: 150px;
}

.input {
    padding: 15px;
    border: 1px solid black;
}

.button {
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: burlywood;
    border: 1px solid grey;
    font-weight: bold;
    color: white;
}